/* Education.css */

.education-container {
    margin-top: 20px;
  }
  
  .card {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-text {
    color: #666;
  }
  